.intro {
	margin: 0;
	padding: 0;
	color: #ffffff;
	max-width: 690px;
}
@media (max-width: 1023px) {
	.intro{
		margin: 0 auto;
		max-width: 720px;
	}
}
@media (max-width: 767px) {
	.intro{
		max-width: 288px;
	}
}